<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>简单的实现登录以及注册的接口</title>
</head>
<body>
    <h1>下面实现的是简单的实现一个注册以及登录的接口的信息</h1>
    <div id="form">
        <label for="">用户名:</label>
        <input name='username' type="text">
        <br>
        <label for="">密&ensp;&ensp;码:</label>
        <input  name='password' type="text">
        <br>
        <button class='btn'>注册</button>
    </div>
    <div id="login">
        <label for="">用户名:</label>
        <input name='login_username' type="text">
        <br>
        <label for="">密&ensp;&ensp;码:</label>
        <input  name='login_password' type="text">
        <br>
        <button class='login_btn'>登录</button>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="/public/js/index.js"></script>
</html>